body {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

h1 {
  color: #66BFBF;
   margin: 50px auto;
  font-family: 'Parisienne', cursive;
  font-size: 550%;
}

.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.circular {
  border-radius: 100%;
  height: 250px;
  width: 250px;
}

.image {
  width: 300px;
  height: 300px;
}

h2 {
  font-size: 200%;
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  font-size: 30px;
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 100%;
  line-height: 2;
  font-weight: lighter;
}

.footer-link {
  color: #01c5c4;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 30px;
  text-decoration: none;
}

a:hover {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: powderblue;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}

.copy {
  color: lightgrey;
  font-size: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 90px;
  top: 450px;
}

.bottom-container {
  background-color: #eaf6f6;
  position: relative;
  padding: 40px 0 20px 0;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.button {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: inset 1px 1px 8px 0 #0059A0;
  -moz-box-shadow: inset 1px 1px 8px 0 #0059A0;
  box-shadow: inset 1px 1px 8px 0 #0059A0;
  text-shadow: 3px 1px 22px #0059A0;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-decoration: none;
}
